<html>
  <head>
    <title>Cubing Contests</title>
    <style>
      body { font-family: Arial, Helvetica, sans-serif; word-wrap: break-word; } .unofficial-events-contents { margin:
      1.5rem 0.5rem; padding: 1rem; border-radius: 10px; background-color: #eee; }
    </style>
  </head>
  <body>
    <p>Contest <a href='{{contestUrl}}'>{{contestName}}</a> has been submitted and is pending approval.</p>

    {{#if urgent}}
      <p>Date: {{startDate}} <strong>URGENT!</strong></p>
    {{else}}
      <p>Date: {{startDate}}</p>
    {{/if}}
    <p>City: {{location}}</p>

    {{#if wcaCompetition}}
      <p>
        <b>Before the contest can be approved</b>, you have to add an "Unofficial Events" tab to the
        <a href='https://www.worldcubeassociation.org/competitions/{{competitionId}}'>WCA competition page</a>
        with the content below, formatted in Markdown. If your local language is not English, translate the text to your
        local language and include the English version below that. You may edit the contents, but the links have to be
        included.
      </p>
      <div class='unofficial-events-contents'>
        <p>
          This competition will also hold unofficial events. The results will be recorded through [Cubing Contests]({{ccUrl}}),
          and will then be added to the rankings.
        </p>
        <p>
          ### [Live Results]({{contestUrl}})
        </p>
        <p>
          ### [Event Details]({{contestUrl}}/events)
        </p>
        <p>
          ### [Rules]({{ccUrl}}/rules)
        </p>
      </div>
    {{/if}}

    <p>If you have any questions, feel free to send a reply to this email. <strong>Make sure to use "Reply All"!</strong></p>
    
    <p>@CC Admin: you can review the contest and approve it via the <a href='{{ccUrl}}/mod'>Moderator Dashboard</a>.</p>
  </body>
</html>