<html>
  <head>
    <title>Cubing Contests</title>
    <style>
      body { font-family: Arial, Helvetica, sans-serif; }
    </style>
  </head>
  <body>
    <h3>Password reset request</h3>
    <p>
      Someone has requested a password reset on
      <a href='{{ccUrl}}'>Cubing Contests</a>
      using your email address. Here is the password reset link:
    </p>

    <a href='{{ccUrl}}/reset-password/{{code}}'>{{ccUrl}}/reset-password/{{code}}</a>

    <p>
      If you didn't make this password reset request, you can safely ignore this email. All this means is that someone
      either knows your email address or entered it by accident.
    </p>
  </body>
</html>